*{
	margin: 0px;
	padding: 0px;	
}
h1{
	font: bold 40px Tahoma;
}
h2{
	font: bold 20px Tahoma;
}
header, section, footer, aside, nav{
	display: block;
}
body{
	height: 100%;
	text-align: center;
	background: white;
}
html {height: 100%;
	min-height: 500px;
}

#main_wrapper{
	height: 100%;
	border: 0px solid black;
	width: 1000px;
	margin: 0px auto;
	text-align: left;
}

#top_header{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding-top: 3px;
	height: 55px;
	
}
#top_header img, h1{
	vertical-align: middle;
	display: inline-block;
	height: 45px;
}
#top_header h1{
	margin: 0px 0px 0px 10px;
}

#navigation{
	position: relative;
	border-style: none;
	width: 1000px;
	height: 30px;
}

#tools{
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
	height: 100%;
	width: 1000px;
	border-style: none;
	margin-bottom: -20px;
	margin-top: -95px;
	padding-top: 95px;
	padding-bottom: 20px;
	
}

#bottom_footer{
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: rgb(0,0,170) -2px -2px 4px inset;
	clear: both;
	position: relative;
	height: 20px;
	background: #5BD4FF;
	padding-left: 27px;
}

#nav{
	position: relative;
	background: #5BD4FF;
	text-align: center;
	border-style: none;
	width: 1000px;
	height: 30px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	box-shadow: rgb(0,0,170) 2px 2px 4px inset;
}
#nav a{
	margin: 0px 0px 0px 15px;
	color: blue;
	vertical-align: middle;
	padding-top: 10px;
	font: bold 18px Tahoma;
	text-decoration: none;}
#nav a:link, a:visited{
	color: blue;
	vertical-align: middle;
}
#nav a:hover{
	color: Yellow;
	text-shadow: black -1px 0px;
	vertical-align: middle;
}

