html, body, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

form#form {
	border-radius: 5px;
	padding: 20px;
}
		
form#form fieldset {
	border: none;
	margin-bottom: 10px;
}
		
form#form fieldset:last-of-type {
	margin-bottom: 0;
}
			
form#form legend {
	/*color: #0021D9;*/
	color:darkblue;
	/*color: black;*/
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 14px;
}

form#form ol li {
	background: #D1E3FF;
	border-color: #FFFFFF;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	line-height: 30px;
	list-style: none;
	padding: 15px;
	margin-bottom: 2px;
}

form#form label {
	float: left;
	font-size: 13px;
	width: 110px;
}

form#form td {
	font-size: 13px;
	width: 110px;
}

form#form select, form#form input:not([type=radio]) {
	background: #ffffff;
	border: none;
	border-radius: 3px;
	font: italic 13px Arial, "Arial", Arial, Sans-serif;
	outline: none;
	padding: 5px;
	width: 220px;
}

form#form textarea {
	background: #ffffff;
	border: none;
	border-radius: 3px;
	font: italic 13px Arial, "Arial", Arial, Sans-serif;
	outline: none;
	padding: 5px;
}

form#form select:focus, form#form textarea:focus, form#form input:not([type=submit]):focus {
	background: #F5F5F5;
}

form#form input[type=submit] {
	margin-left: auto;
	margin-right: auto;
	background: white;
	/*border-radius: 6px;*/
	border-style:ridge;
	color: darkblue;
	display: block;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}

form#form input[type=reset] {
	border: none;
    display: inline;
    margin: 0em;
    padding: 0em;
    outline: none;
    outline-offset: 0em;
    background: none;
    color: blue;
    cursor: pointer;
    font: inherit;
	font-style:italic;
    text-decoration: underline;
    width: auto;
}

form#form input[type=reset]:focus {
    color: purple;
}

form#form input[type=reset]:active{
    color: red;
}
		
form#form input[type=submit]:hover {
	cursor: pointer;
}

form#form input[type=submit]:active {
	border-style:groove;
	cursor: pointer;
}

form#form span {
	float: left;
	font-size: 15px;
	width: 140px;
	color:#240073;
}

hr {
	color: white;
	background-color: black;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}