<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Login</display-name>
  <welcome-file-list>
    <welcome-file>LogIn.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>project1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecServlet</display-name>
    <servlet-name>SecServlet</servlet-name>
    <servlet-class>project1.SecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecServlet</servlet-name>
    <url-pattern>/SecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnsetSessionServlet</display-name>
    <servlet-name>UnsetSessionServlet</servlet-name>
    <servlet-class>project1.UnsetSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnsetSessionServlet</servlet-name>
    <url-pattern>/UnsetSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>project1.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAccServlet</display-name>
    <servlet-name>ChangeAccServlet</servlet-name>
    <servlet-class>project1.ChangeAccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAccServlet</servlet-name>
    <url-pattern>/ChangeAccServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>project1.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MsgAppServlet</display-name>
    <servlet-name>MsgAppServlet</servlet-name>
    <servlet-class>project1.MsgAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgAppServlet</servlet-name>
    <url-pattern>/MsgAppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamChoiceServlet</display-name>
    <servlet-name>TeamChoiceServlet</servlet-name>
    <servlet-class>project1.TeamChoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamChoiceServlet</servlet-name>
    <url-pattern>/TeamChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputUsersServlet</display-name>
    <servlet-name>InputUsersServlet</servlet-name>
    <servlet-class>project1.InputUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputUsersServlet</servlet-name>
    <url-pattern>/InputUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New_msgServlet</display-name>
    <servlet-name>New_msgServlet</servlet-name>
    <servlet-class>project1.New_msgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New_msgServlet</servlet-name>
    <url-pattern>/New_msgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecTeamServlet</display-name>
    <servlet-name>SecTeamServlet</servlet-name>
    <servlet-class>project1.SecTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecTeamServlet</servlet-name>
    <url-pattern>/SecTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>My_msgServlet</display-name>
    <servlet-name>My_msgServlet</servlet-name>
    <servlet-class>project1.My_msgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My_msgServlet</servlet-name>
    <url-pattern>/My_msgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Archive_msgServlet</display-name>
    <servlet-name>Archive_msgServlet</servlet-name>
    <servlet-class>project1.Archive_msgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Archive_msgServlet</servlet-name>
    <url-pattern>/Archive_msgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadArchive_msgServlet</display-name>
    <servlet-name>ReadArchive_msgServlet</servlet-name>
    <servlet-class>project1.ReadArchive_msgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadArchive_msgServlet</servlet-name>
    <url-pattern>/ReadArchive_msgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadApp_msgServlet</display-name>
    <servlet-name>ReadApp_msgServlet</servlet-name>
    <servlet-class>project1.ReadApp_msgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadApp_msgServlet</servlet-name>
    <url-pattern>/ReadApp_msgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JMBAGappServlet</display-name>
    <servlet-name>JMBAGappServlet</servlet-name>
    <servlet-class>project1.JMBAGappServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JMBAGappServlet</servlet-name>
    <url-pattern>/JMBAGappServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrameServlet</display-name>
    <servlet-name>FrameServlet</servlet-name>
    <servlet-class>project1.FrameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrameServlet</servlet-name>
    <url-pattern>/FrameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputSingleUser</display-name>
    <servlet-name>InputSingleUser</servlet-name>
    <servlet-class>project1.InputSingleUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputSingleUser</servlet-name>
    <url-pattern>/InputSingleUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputUserServlet</display-name>
    <servlet-name>InputUserServlet</servlet-name>
    <servlet-class>project1.InputUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputUserServlet</servlet-name>
    <url-pattern>/InputUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPageServlet</display-name>
    <servlet-name>UserPageServlet</servlet-name>
    <servlet-class>project1.UserPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPageServlet</servlet-name>
    <url-pattern>/UserPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailCheckServlet</display-name>
    <servlet-name>EmailCheckServlet</servlet-name>
    <servlet-class>project1.EmailCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailCheckServlet</servlet-name>
    <url-pattern>/EmailCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New_ProfAssimsgServlet</display-name>
    <servlet-name>New_ProfAssimsgServlet</servlet-name>
    <servlet-class>project1.New_ProfAssimsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New_ProfAssimsgServlet</servlet-name>
    <url-pattern>/New_ProfAssimsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New_ManagermsgServlet</display-name>
    <servlet-name>New_ManagermsgServlet</servlet-name>
    <servlet-class>project1.New_ManagermsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New_ManagermsgServlet</servlet-name>
    <url-pattern>/New_ManagermsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerMsgSelectServlet</display-name>
    <servlet-name>ManagerMsgSelectServlet</servlet-name>
    <servlet-class>project1.ManagerMsgSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerMsgSelectServlet</servlet-name>
    <url-pattern>/ManagerMsgSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassServlet</display-name>
    <servlet-name>ChangePassServlet</servlet-name>
    <servlet-class>project1.ChangePassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassServlet</servlet-name>
    <url-pattern>/ChangePassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSettingsServlet</display-name>
    <servlet-name>EmailSettingsServlet</servlet-name>
    <servlet-class>project1.EmailSettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSettingsServlet</servlet-name>
    <url-pattern>/EmailSettingsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailChangeServlet</display-name>
    <servlet-name>EmailChangeServlet</servlet-name>
    <servlet-class>project1.EmailChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailChangeServlet</servlet-name>
    <url-pattern>/EmailChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailChangeConfirmationServlet</display-name>
    <servlet-name>EmailChangeConfirmationServlet</servlet-name>
    <servlet-class>project1.EmailChangeConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailChangeConfirmationServlet</servlet-name>
    <url-pattern>/EmailChangeConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Notification_msgServlet</display-name>
    <servlet-name>Notification_msgServlet</servlet-name>
    <servlet-class>project1.Notification_msgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notification_msgServlet</servlet-name>
    <url-pattern>/Notification_msgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationServlet</display-name>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>project1.NotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/NotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAssignServlet</display-name>
    <servlet-name>CreateAssignServlet</servlet-name>
    <servlet-class>project1.CreateAssignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAssignServlet</servlet-name>
    <url-pattern>/CreateAssignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignmentsViewServlet</display-name>
    <servlet-name>AssignmentsViewServlet</servlet-name>
    <servlet-class>project1.AssignmentsViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentsViewServlet</servlet-name>
    <url-pattern>/AssignmentsViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponsibilitiesServlet</display-name>
    <servlet-name>ResponsibilitiesServlet</servlet-name>
    <servlet-class>project1.ResponsibilitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsibilitiesServlet</servlet-name>
    <url-pattern>/ResponsibilitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoreMembersServlet</display-name>
    <servlet-name>MoreMembersServlet</servlet-name>
    <servlet-class>project1.MoreMembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoreMembersServlet</servlet-name>
    <url-pattern>/MoreMembersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTeamServlet</display-name>
    <servlet-name>CreateTeamServlet</servlet-name>
    <servlet-class>project1.CreateTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTeamServlet</servlet-name>
    <url-pattern>/CreateTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectServlet</display-name>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>project1.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/SubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewProjectServlet</display-name>
    <servlet-name>NewProjectServlet</servlet-name>
    <servlet-class>project1.NewProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProjectServlet</servlet-name>
    <url-pattern>/NewProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PickAssignmentServlet</display-name>
    <servlet-name>PickAssignmentServlet</servlet-name>
    <servlet-class>project1.PickAssignmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PickAssignmentServlet</servlet-name>
    <url-pattern>/PickAssignmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsignProjectAssignmentServlet</display-name>
    <servlet-name>AsignProjectAssignmentServlet</servlet-name>
    <servlet-class>project1.AsignProjectAssignmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsignProjectAssignmentServlet</servlet-name>
    <url-pattern>/AsignProjectAssignmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectsOverviewServlet</display-name>
    <servlet-name>ProjectsOverviewServlet</servlet-name>
    <servlet-class>project1.ProjectsOverviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectsOverviewServlet</servlet-name>
    <url-pattern>/ProjectsOverviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyAssignmentsFirstServlet</display-name>
    <servlet-name>WeeklyAssignmentsFirstServlet</servlet-name>
    <servlet-class>project1.WeeklyAssignmentsFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyAssignmentsFirstServlet</servlet-name>
    <url-pattern>/WeeklyAssignmentsFirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyAssignmentsSelectServlet</display-name>
    <servlet-name>WeeklyAssignmentsSelectServlet</servlet-name>
    <servlet-class>project1.WeeklyAssignmentsSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyAssignmentsSelectServlet</servlet-name>
    <url-pattern>/WeeklyAssignmentsSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyAssignmentsServlet</display-name>
    <servlet-name>WeeklyAssignmentsServlet</servlet-name>
    <servlet-class>project1.WeeklyAssignmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyAssignmentsServlet</servlet-name>
    <url-pattern>/WeeklyAssignmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanAndControlProjectServlet</display-name>
    <servlet-name>PlanAndControlProjectServlet</servlet-name>
    <servlet-class>project1.PlanAndControlProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanAndControlProjectServlet</servlet-name>
    <url-pattern>/PlanAndControlProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanAndControlProjectBasicSearchServlet</display-name>
    <servlet-name>PlanAndControlProjectBasicSearchServlet</servlet-name>
    <servlet-class>project1.PlanAndControlProjectBasicSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanAndControlProjectBasicSearchServlet</servlet-name>
    <url-pattern>/PlanAndControlProjectBasicSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanAndControlProjectAdvancedSearchServlet</display-name>
    <servlet-name>PlanAndControlProjectAdvancedSearchServlet</servlet-name>
    <servlet-class>project1.PlanAndControlProjectAdvancedSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanAndControlProjectAdvancedSearchServlet</servlet-name>
    <url-pattern>/PlanAndControlProjectAdvancedSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectPlanProcessing</display-name>
    <servlet-name>ProjectPlanProcessing</servlet-name>
    <servlet-class>project1.ProjectPlanProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectPlanProcessing</servlet-name>
    <url-pattern>/ProjectPlanProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Survey</display-name>
    <servlet-name>Survey</servlet-name>
    <servlet-class>project1.Survey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Survey</servlet-name>
    <url-pattern>/Survey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Submit</display-name>
    <servlet-name>Submit</servlet-name>
    <servlet-class>project1.Submit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Database</display-name>
    <servlet-name>Database</servlet-name>
    <servlet-class>project1.Database</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Database</servlet-name>
    <url-pattern>/Database</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyResults</display-name>
    <servlet-name>SurveyResults</servlet-name>
    <servlet-class>project1.SurveyResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyResults</servlet-name>
    <url-pattern>/SurveyResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyAssignmentsStudentFirstServlet</display-name>
    <servlet-name>WeeklyAssignmentsStudentFirstServlet</servlet-name>
    <servlet-class>project1.WeeklyAssignmentsStudentFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyAssignmentsStudentFirstServlet</servlet-name>
    <url-pattern>/WeeklyAssignmentsStudentFirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyAssignmentsStudentServlet</display-name>
    <servlet-name>WeeklyAssignmentsStudentServlet</servlet-name>
    <servlet-class>project1.WeeklyAssignmentsStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyAssignmentsStudentServlet</servlet-name>
    <url-pattern>/WeeklyAssignmentsStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyAssignmentsStudentProcessingServlet</display-name>
    <servlet-name>WeeklyAssignmentsStudentProcessingServlet</servlet-name>
    <servlet-class>project1.WeeklyAssignmentsStudentProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyAssignmentsStudentProcessingServlet</servlet-name>
    <url-pattern>/WeeklyAssignmentsStudentProcessingServlet</url-pattern>
  </servlet-mapping>
</web-app>