<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SPtool</display-name>
  <welcome-file-list>
    <welcome-file>ProjectsOverviewServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProjectsOverviewServlet</display-name>
    <servlet-name>ProjectsOverviewServlet</servlet-name>
    <servlet-class>SPtool.ProjectsOverviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectsOverviewServlet</servlet-name>
    <url-pattern>/ProjectsOverviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>osnovno pretrazivanje projekata</description>
    <display-name>PlanAndControlProjectBasicSearchServlet</display-name>
    <servlet-name>PlanAndControlProjectBasicSearchServlet</servlet-name>
    <servlet-class>SPtool.PlanAndControlProjectBasicSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanAndControlProjectBasicSearchServlet</servlet-name>
    <url-pattern>/PlanAndControlProjectBasicSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanAndControlProjectServlet</display-name>
    <servlet-name>PlanAndControlProjectServlet</servlet-name>
    <servlet-class>SPtool.PlanAndControlProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanAndControlProjectServlet</servlet-name>
    <url-pattern>/PlanAndControlProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanAndControlProjectAdvancedSearchServlet</display-name>
    <servlet-name>PlanAndControlProjectAdvancedSearchServlet</servlet-name>
    <servlet-class>SPtool.PlanAndControlProjectAdvancedSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanAndControlProjectAdvancedSearchServlet</servlet-name>
    <url-pattern>/PlanAndControlProjectAdvancedSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyAssignmentsSelectServlet</display-name>
    <servlet-name>WeeklyAssignmentsSelectServlet</servlet-name>
    <servlet-class>SPtool.WeeklyAssignmentsSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyAssignmentsSelectServlet</servlet-name>
    <url-pattern>/WeeklyAssignmentsSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyAssignmentsServlet</display-name>
    <servlet-name>WeeklyAssignmentsServlet</servlet-name>
    <servlet-class>SPtool.WeeklyAssignmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyAssignmentsServlet</servlet-name>
    <url-pattern>/WeeklyAssignmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyAssignmentsFirstServlet</display-name>
    <servlet-name>WeeklyAssignmentsFirstServlet</servlet-name>
    <servlet-class>SPtool.WeeklyAssignmentsFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyAssignmentsFirstServlet</servlet-name>
    <url-pattern>/WeeklyAssignmentsFirstServlet</url-pattern>
  </servlet-mapping>
</web-app>